<!DOCTYPE html>
<html>
  <head>
    <title>Firedo®</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div width: "70%";>
	  	<%if logged_in? %>
	  		<a href="/logout">logout</a>
	  	<%else%>
	  		<div>
				<ul>
					<li><a href="register">Register</a></li>
					<li><a href="login">login</a></li>
				</ul>
			</div>
	  	<%end%>
	    <%= yield %>
	 </div>
  </body>
</html>
